/* responsive media query small device */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .feature-container, .sponsor-contain{
    flex-direction: column;
    }
    .nav-link{
        font-size: 1.20rem;
        font-weight: 400;
    }
    .navbar{
        width: 100%;
        margin: 0px auto;
    }
    .banner{
        width: 100%;
        margin: 0px auto;
    }
    .banner-title{
        font-size: 3rem;
        font-weight: 600px;
        width: 100%;
    }
    .title-description{
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .banner-img{
        width: 80%;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .main-section{
        max-width: 100%;
        margin: 50px auto;
        padding: 10px;
    }
    .feature-img{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .feature-container{
        width: 100%;
        margin: 0px auto;
    }
    .feature-card{
        width: 90%;
    }
    .love-content{
        width: 100%;
    }
    .img-sec{
        width: 100%;
    }
    .love-img{
        width: 90%;
    }
    #btn-secoundry{
        width: 300px;
        height: 180px;
        right: 30px;
        top: -125px;
    }
    .love-features{
        margin-bottom: none;
        margin: 20px;
    }
    /* icon section */
    .icon-section{
        width: 100%;
        margin: 0px auto;
    }
    .icon-container{
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
    .icon-card{
        margin-left: 25%;
    }
    /* sponsor section */
    .sponsor-img{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
        margin: 0px auto;
        align-items: center;
        padding-left: 30%;
    }
    .sponsor-contain{
        text-align: center;
        margin-top: 80px;
    }
    .banner-content{
        max-width: 50%;
        text-align: none;
    }
    .love-features{
        flex-direction: column;
        width: 100%;
    }
    footer{
        flex-direction: column;
        width: 100%;
        margin: 10px auto;
    }
    .footer-text{
        width: 400px;
        text-align: center;
        font-size: 1.20rem;
    }
}
