@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
/* color--*/
.dark-2{
    color: rgb(66, 66, 66);
}
.dark-3{
    color: rgb(114, 114, 114);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* nav-style-section */
.nav-link{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.brand{
    font-size: 2.5rem;
    font-weight: 700px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    margin-right: 20px;
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner-section */
.banner-content{
    width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
}
.title-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
}
.btn-primary{
    width: 180px;
    height: 64px;
    background-color: rgb(255, 144, 14);
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600px;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.banner-img{
    width: 100%;
}
.main-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
.feature-container{
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-text{
    width: 537px;
    height: 304px;
    margin: 0 auto;
}
#quick-list{
    color: rgb(114, 114, 114);
}
#features{
    color: rgb(255, 144, 14);
}
#love-title{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 21px;
}
/* card section */
.feature-card{
    width: 586px;
    height: 171px;
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
}
.card-title{
    font-size: 1.4rem;
    font-weight: 600;
    
}
.love-features{
    display: flex;
    gap: 150px;
}
#btn-secoundry{
    width: 342px;
    height: 200px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 45px 42px;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    right: 100px;
    top: -125px;
}
.year{
    font-size: 4rem;
    font-weight: 700px;
    color: #fff;
}





/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .feature-container{
    flex-direction: column;
    }
    .feature-img{
        grid-template-columns: repeat(1,1fr);
    }
    
}
